# Credentials #
###################
credentials.R

# Assignment Data #
###################
02_RProgramming/ProgrammingAssignment1/specdata/*
02_RProgramming/ProgrammingAssignment3/data/*

03_GettingData/ProgrammingAssignment1/data/*
03_GettingData/ProgrammingAssignment2/data/*
03_GettingData/ProgrammingAssignment3/data/*
03_GettingData/ProgrammingAssignment4/data/*

03_GettingData/CourseProject/UCI\ HAR\ Dataset/*
03_GettingData/CourseProject/tidy.txt

04_ExploratoryAnalysis/CourseProject1/data/*
04_ExploratoryAnalysis/CourseProject2/data/*

05_ReproducibleResearch/CourseProject1/data/*
05_ReproducibleResearch/CourseProject2/data/*
05_ReproducibleResearch/CourseProject2/cache/*

07_MachineLearning/CourseProject1/data/*
07_MachineLearning/CourseProject1/results/*
07_MachineLearning/quizes/
